.lottery-rules-page {
  padding: 50rpx;

  .btn {
    position: fixed;
    bottom: 100rpx;
    right: 75rpx;
    width: 600rpx;
    height: 108rpx;
    color: #fff;
    background-color: #128BF8;
    font-size: 36rpx;
    line-height: 108rpx;
    border-radius: 100rpx;
  }
}
